.addCategoryFormContainer {
    background-color: white;
    width: 60vw;
    margin: 20px;
    padding-top: 10px;
    border-radius: 10px;
    /* background-image: url('../assets/Background_Form.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
    height: 50vh;
}
.addCategoryFormContainer::before {    
    content: "";
    background-image: url('../assets/Background_Form.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.45;
    border-radius: 10px;
}
.addCategoryFormContainer h2, .addCategoryFormContainer button {
    position: relative;
}
.addCategoryForm {
    position: relative;
    display: grid;
    place-content: center;
}
.addCategoryData {
    display: flex;
    align-items: center;
    place-content: center;
    width: 100%;
}
.addCategoryData p {
    text-align: left;
    width: 40%;
}
.addCategoryData input {
    height: 22px;
    width: 60%;
    border: 1px solid black;
}

.addCategoryFormContainer button {
    height: 35px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #218500;
    color: white;
    font-weight: 700;
    border: 1px solid #218500;
    border-radius: 10px;
    cursor: pointer;
}
.addCategoryFormContainer button:hover {
    background-color: black;
}