.updateProductFormBack {
    background-color: #c6d8c0;
    width: 100%;
    display: grid;
    place-items: center;
    min-height: 60vh;
}
.updateProductFormContainer {
    background-color: white;
    width: 60vw;
    margin: 20px;
    padding-top: 10px;
    border-radius: 10px;
    /* background-image: url('../assets/Background_Form.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
}
.updateProductFormContainer::before {    
    content: "";
    background-image: url('../assets/Background_Form.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.45;
    border-radius: 10px;
}
.updateProductFormContainer h2, .updateProductFormContainer button {
    position: relative;
}
.updateProductForm {
    position: relative;
    display: grid;
    place-content: center;
}
.updateProductData {
    display: flex;
    align-items: center;
    place-content: center;
    width: 100%;
}
.updateProductData p {
    text-align: left;
    width: 35%;
}
.updateProductData input {
    height: 22px;
    width: 65%;
    border: 1px solid black;
}
.updateProductData select {
    height: 27px;
    width: 65%;
    border: 1px solid black;
}

.updateProductFormContainer button {
    height: 35px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #218500;
    color: white;
    font-weight: 700;
    border: 1px solid #218500;
    border-radius: 10px;
    cursor: pointer;
}
.updateProductFormContainer button:hover {
    background-color: black;
}